@import "tailwindcss";

@theme {
  --color-primary: #0A1F44;
  --color-primary-dark: #071630;
  --color-secondary: #FF4B2B;
  --color-secondary-dark: #e03e23;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8fafc;
  color: #1e293b;
}

.dark body {
  background-color: #0f172a;
  color: #f1f5f9;
}
